<div class="space-y-3-checkout border-t-checkout pt-4-checkout">
    <div class="flex-checkout justify-between-checkout text-sm-checkout">
        <span class="summary-label-checkout">Итого • {{ cart|length }} товар{{ cart|length|pluralize:"а,ов" }}</span>
        <span class="summary-value-checkout">€{{ total_price }}</span>
    </div>
    
    <div class="flex-checkout justify-between-checkout text-sm-checkout">
        <span class="summary-label-checkout">Доставка</span>
        <span class="summary-value-checkout text-gray-600-checkout">Рассчитывается на следующем шаге</span>
    </div>
    
    </div>
</div>